{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="text-center">
    <div class="mt-10">
        <h2 class="text-xl lg:text-6xl text-white">Welcome to ChatVibe!</h2><br>
        <p class="text-lg text-gray-300 mt-4">Connect and chat with people using ChatVibe.</p>
    </div>
    <div class="mt-16">
        <h2 class="text-xl lg:text-3xl text-white">Features:</h2>
        <ul class="text-lg text-gray-300 mt-4 list-disc list-inside">
            <li>Real-time messaging</li>
            <li>User authentication and registration</li>
            <li>Group chats and private conversations</li>
            <li>Emojis and file sharing</li>
            <li>Responsive design for all devices</li>
        </ul>
    </div>
    <div class="mt-16">
        <h2 class="text-xl lg:text-3xl text-white">Get Started:</h2>
        <p class="text-lg text-gray-300 mt-4">To begin using ChatVibe, follow these simple steps:</p>
        <ol class="text-lg text-gray-300 mt-4 list-decimal list-inside">
            <li>Create an account by clicking on the "Register" button above.</li>
            <li>Login using your credentials or with your social media account.</li>
            <li>Start a conversation or join existing chat rooms.</li>
            <li>Enjoy seamless communication with fellow users!</li>
        </ol>
    </div>
    <div class="mt-16">
        <h2 class="text-xl lg:text-3xl text-white">Join the Community:</h2>
        <p class="text-lg text-gray-300 mt-4">Connect with other Djangochat users, get support, and stay updated with the latest features:</p>
        <ul class="text-lg text-gray-300 mt-4 list-disc list-inside">
            <li>Visit our forums and engage in discussions</li>
            <li>Follow us on social media for news and announcements</li>
            <li>Subscribe to our newsletter for exclusive content and promotions</li>
        </ul>
    </div><br><br>
</div>
{% endblock %}
